# ====== TELEGRAM ======
TELEGRAM_BOT_TOKEN=isi_token_bot_kamu
ADMIN_IDS=123456789

# ====== SPOTIFY ======
SPOTIFY_CLIENT_ID=isi_client_id_kamu
SPOTIFY_CLIENT_SECRET=isi_client_secret_kamu
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
